.layout-left-sidebar .screen {
    background: #3c63ab;
}

ul .list-group-item {
    border: 0;
    background: transparent;
    padding: 0;
}

ul .list-group-item.active {
    background: #4973bf !important;
}

ul .list-group-item:hover,
ul .list-group-item:active:hover {
    background: #4e7bce !important;
}

.layout-sidebar a,
.layout-sidebar a:visited, .layout-sidebar a:visited:hover {
    text-decoration: none;
    color: #fff !important;
}

.layout-sidebar a {
    padding:0.75rem 1.25rem;
    display: block;
    padding-left:2rem;
}
.layout-iconbar {
    background: #274988 !important;
    max-width: 60px;
}